.filtros-aplicados-badges {
    .badge {
        // min-width: 80px;
        border: none;
        height: 28px;
    }


    .data-badge {
        display: inline-flex;
        align-items: center;
        width: fit-content;
        overflow: hidden;

    }

    .close-badge {
        stroke: #ffffffc5;
        opacity: 0;
        width: 0;
        margin-left: 0;
        // overflow: hidden;
        transition: opacity 200ms ease, width 200ms ease, margin-left 200ms ease;
    }

    .data-badge:hover .close-badge {
        opacity: 1;
        width: 1rem; // Tamanho do ícone
        margin-left: 4px;
    }

    .close-badge:hover {
        stroke: #fff;
    }

    /* Animação de entrada/saída com CSSTransition */
    .fade-badge-enter {
        opacity: 0;
        transform: scale(0.95);
    }

    .fade-badge-enter-active {
        opacity: 1;
        transform: scale(1);
        transition: opacity 200ms ease, transform 200ms ease;
    }

    .fade-badge-exit {
        opacity: 1;
        transform: scale(1);
    }

    .fade-badge-exit-active {
        opacity: 0;
        transform: scale(0.95);
        transition: opacity 200ms ease, transform 200ms ease;
    }

}

#tabDatas {
    justify-content: center;
    overflow: hidden;
    align-items: center;
    transition: 300ms all;
}

#tabDatas:not(.show) {
    display: block;
    height: 0px;
}

$color-red-50: oklch(97.1% .013 17.38);
$color-red-600: oklch(57.7% .245 27.325);
$color-red-700: oklch(50.5% .213 27.518);
$color-yellow-50: oklch(98.7% .026 102.212);
$color-yellow-600: oklch(68.1% .162 75.834);
$color-yellow-800: oklch(47.6% .114 61.907);
$color-green-50: oklch(98.2% .018 155.826);
$color-green-600: oklch(62.7% .194 149.214);
$color-green-700: oklch(52.7% .154 150.069);
$color-blue-50: oklch(97% .014 254.604);
$color-blue-700: oklch(48.8% .243 264.376);
$color-indigo-50: oklch(96.2% .018 272.314);
$color-indigo-700: oklch(45.7% .24 277.023);
$color-purple-50: oklch(97.7% .014 308.299);
$color-purple-700: oklch(49.6% .265 301.924);
$color-pink-50: oklch(97.1% .014 343.198);
$color-pink-700: oklch(52.5% .223 3.958);
$color-gray-50: oklch(98.5% .002 247.839);
$color-gray-500: oklch(55.1% .027 264.364);
$color-gray-600: oklch(44.6% .03 256.802);

// Variáveis reutilizáveis
$badge-bg-default: #f3f4f6; // Tailwind gray-100
$badge-color-default: #1f2937; // Tailwind gray-800
$badge-border: 1px solid #d1d5db; // Tailwind gray-300

$badge-radius: 0.375rem; // rounded-md
$badge-font-weight: 500;
$badge-font-size-sm: 0.75rem;
$badge-font-size-md: 0.875rem;
$badge-font-size-lg: 1rem;

$badge-padding-sm: 0.125rem 0.5rem; // py-0.5 px-2
$badge-padding-md: 0.25rem 0.75rem;
$badge-padding-lg: 0.4rem 0.9rem;

@mixin badge-size($size) {
    @if $size ==sm {
        font-size: $badge-font-size-sm;
        padding: $badge-padding-sm;
    }

    @else if $size ==lg {
        font-size: $badge-font-size-lg;
        padding: $badge-padding-lg;
    }

    @else {
        font-size: $badge-font-size-md;
        padding: $badge-padding-md;
    }
}

@mixin badge-style($bg, $text, $ring) {
    display: inline-flex;
    align-items: center;
    font-size: $badge-font-size-md; // text-xs
    font-weight: 500; // font-medium
    padding: 0.25rem 0.5rem; // py-1 px-2
    background-color: $bg;
    color: $text;
    border-radius: 0.375rem; // rounded-md
    box-shadow: inset 0 0 0 1px $ring, inset 0 0 0 1px rgba(0, 0, 0, 0.05);
}

.tw-badge {

    &--green-sm {
        @include badge-style($color-green-50, $color-green-600, color-mix(in oklab, $color-green-600 20%, transparent)); // green
        @include badge-size(sm);
    }

    &--green-lg {
        @include badge-style($color-green-50, $color-green-600, color-mix(in oklab, $color-green-600 20%, transparent)); // green
        @include badge-size(lg);
    }

    &--yellow-sm {
        @include badge-style($color-yellow-50, $color-yellow-800, color-mix(in oklab, $color-yellow-600 20%, transparent)); // amber
        @include badge-size(sm);
    }

    &--yellow-lg {
        @include badge-style($color-yellow-50, $color-yellow-800, color-mix(in oklab, $color-yellow-600 20%, transparent)); // amber
        @include badge-size(lg);
    }

    &--red-sm {
        @include badge-style($color-red-50, $color-red-700, color-mix(in oklab, $color-red-600 10%, transparent)); // red
        @include badge-size(sm);
    }

    &--red-lg {
        @include badge-style($color-red-50, $color-red-700, color-mix(in oklab, $color-red-600 10%, transparent)); // red
        @include badge-size(lg);
    }

    &--blue-lg {
        @include badge-style($color-blue-50, $color-blue-700, color-mix(in oklab, $color-blue-700 20%, transparent)); // blue
        @include badge-size(lg);
    }

    &--blue-sm {
        @include badge-style($color-blue-50, $color-blue-700, color-mix(in oklab, $color-blue-700 20%, transparent)); // blue
        @include badge-size(sm);
    }

    &--gray-sm {
        @include badge-style($color-gray-50, $color-gray-600, color-mix(in oklab, $color-gray-500 10%, transparent)); // gray
        @include badge-size(sm);
    }

    &--gray-lg {
        @include badge-style($color-gray-50, $color-gray-600, color-mix(in oklab, $color-gray-500 10%, transparent)); // gray
        @include badge-size(lg);
    }

    &--indigo {
        @include badge-style($color-indigo-50, $color-indigo-700, color-mix(in oklab, $color-indigo-700 10%, transparent)); // gray
    }

    &--purple {
        @include badge-style($color-purple-50, $color-purple-700, color-mix(in oklab, $color-purple-700 10%, transparent)); // gray
    }

    &--pink {
        @include badge-style($color-pink-50, $color-pink-700, color-mix(in oklab, $color-pink-700 10%, transparent)); // gray
    }
}