.card {
    p {
        display: flex;
        align-items: center;
        margin-bottom: .5rem;
    }
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-title {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    span {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}