/* animação de entrada da tabela */
.fade-table-enter,
.fade-alert-enter {
    opacity: 0;
    transform: translateY(-10px);
}

.fade-table-enter-active,
.fade-alert-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 400ms ease;
}

.fade-table-exit,
.fade-alert-exit {
    opacity: 1;
    transform: translateY(0);
}

.fade-table-exit-active,
.fade-alert-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: all 400ms ease;
}

.tabela-reservas {
    // min-height: 400px;
}

.tabela-reservas,
.tabela-salas,
.tabela-consulta,
.tabela-salas-troca {
    margin-bottom: 0;
    width: 100%;
    table-layout: auto;

    .card,
    .card-header,
    td,
    th {
        background: none;
    }

    th {
        border-bottom: 1px solid $gray-400;
        font-weight: 600;
        color: $gray-800;
        padding: 1rem 0.75rem;
        white-space: nowrap;
    }

    td {
        padding: 1rem 0.75rem;
        // vertical-align: middle;
        // word-wrap: break-word;
        border-bottom: 1px solid $gray-400;
    }

}



@include media-breakpoint-down(sm) {

    .tabela-reservas {
        font-size: 0.75rem;

        // .btn-acao {
        //     width: ;
        // }
    }
}

.tabela-salas {
    overflow: hidden;
}

// .tabela-consulta {
//     margin-bottom: 0;
//     width: 100%;
//     table-layout: auto;

//     th {
//         background-color: $table-bg;
//         border-top: none;
//         font-weight: 600;
//         color: $gray-800;
//         padding: 1rem 0.75rem;
//         font-size: 0.9rem;
//         white-space: nowrap;
//     }

//     td {
//         padding: 1rem 0.75rem;
//         vertical-align: middle;
//         word-wrap: break-word;
//     }

//     tbody tr:hover {
//         background-color: $table-hover-bg;
//     }
// }


.tableWrapper {
    height: 400px;
    overflow: auto;
    border: none;
}

// .stickyHeader th {
//     position: sticky;
//     top: 0;
//     background-color: #f8f9fa; // Cor igual à table-light
//     z-index: 2;
//     border-bottom: 1px solid #dee2e6;
// }