#tabDatas{
    justify-content: center;
    overflow: hidden;
    align-items: center;
    transition: 300ms all;
}

#tabDatas:not(.show) {
    display: block;
    height: 0px;
}

.data-badge-div{
    /* width: 110px;
    justify-content: center;
    align-items: center; */
}


